name: Docs

on:
  push:
    paths:
      - 'docs/**'
      - '.github/workflows/docs.yml'

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: eu-west-1
          role-to-assume: ${{ secrets.AWS_REPO_ROLE }}

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Install deps
        working-directory: docs/
        run: pip install -r requirements.txt

      - name: Build docs
        working-directory: docs/
        run: mkdocs build

      - name: Deploy to S3
        working-directory: docs/
        run: aws s3 sync --delete site/ s3://${{ secrets.AWS_BUCKET_SITE }} --cache-control "public"

      - name: Invalidate CloudFront cache
        run: aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_CLOUDFRONT_SITE }} --paths "/*"
